html {
  font-family: Helvetica, sans-serif;
}

footer {
  background-color: gainsboro;
}

footer p {
  margin-bottom: 0;
  font-size: .75rem;
  line-height: 100%;
}

.column-wrapper {
  margin: 0 auto;
}

.grey-back {
  color: white;
  background: rgba(0,0,0,.6);
}

.overlay-center {
  position: absolute;
  top: 50%;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  font-size: x-large;
}

.my-card {
  width: 275px;
  /*height: 300px;*/
}

#scrollPic {
  background: url('../images/office_1.jpg') no-repeat center top;
  background-size: 100% auto;
  width: 100%;
  height: 250%;
  padding-bottom: 0;
  margin-bottom: 0;
  /*color: white;*/
}

#hiddenSuccessMessage {
  display: none;
}

#hiddenErrorMessage {
  display: none;
}
