html {
  font-family: Helvetica, sans-serif;
}

.scrollPic {
  background: url('../images/office_1.jpg') no-repeat center top;
  background-size: 100% auto;
  /*color: white;*/
}

.grey-back {
  background: rgba(92,255,195,.7);

}
